    * {
		box-sizing: border-box;
	}
	
	header {
		display: inline;
	}
	
	body {
       font-family: sans-serif;
	   margin: 0;
	   padding: 0;
	   background: #2929a3;
	   background-repeat:none;
    }
	    
	.atas {
		background:  #e0e0e0;
		overflow: hidden;
		position: sticky;
		padding: 10px 20px;
		top: 0;
	}
	
	.logo img{
		max-height: 57px;
		width: auto;
		float: left;
		margin: auto;
	}
	
	.logo a{
		center-left: 0px;
		margin: auto auto auto 10px;
	}
	.logo {
		float:left;
		padding:0;
		margin:0;
		
	}
	
	.atas section a {
		font-size: 25px;
		font-weight: 400;
	}
	
	.atas .dropdown {
		float:right;
	}
	
	.atas  a:hover {
	  background-color: #888;
	  color: white;
	}
	
	.atas  a:active {
	  background-color: #3c5cea;
	}
	
	.atas a {
		float: left;
		color: black;
		text-align: center;
		padding: 12px;
		text-decoration: none;
		font-size: 18px;
		line-height: 30px;
		border-radius: 4px;
		-webkit-transition: all .2s ease-in-out;
		-moz-transition: all .2s ease-in-out;
		-ms-transition: all .2s ease-in-out;
		-o-transition: all .2s ease-in-out;
		transition: all .2s ease-in-out;
		overflow: hidden;
	}
	
	.tombol {
		display: none;
	}
	
	main {
		padding: 0 20px 20px 20px;
		overflow: auto;
	}
	
	#content {
		float: left;
		width: 75%;
	}
	
	aside {
		float: right;
		width: 25%;
		padding-left: 20px;
	}
	
    h2 {
       color: #0a2d77;
	   text-align: center;
    }
     
    footer {
       padding: 20px;
       color: white;
       background-color: #232323;
	   text-align: center;
	   font-weight: bold;
    }
	
	.link-footer{
		width: 100%;
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: auto;
		display: flex;
		flex-direction: row;
	}
	
	.footer-item {
		flex-grow: 1;
		margin-right: 20px;
	}
	
			
	.footer-item a {
		text-decoration: none;
		text-align: center;
	}
	
	.footer-item a.fb{
		background: #3b579d;
		color: #ffffff !important;
		display: block;
		padding: 8px 16px;
		-webkit-transition: all .2s ease-in-out;
		-moz-transition: all .2s ease-in-out;
		-ms-transition: all .2s ease-in-out;
		-o-transition: all .2s ease-in-out;
		transition: all .2s ease-in-out;
	}
	.footer-item a.ig{
		background: #fc4ed9;
		color: #ffffff !important;
		display: block;
		padding: 8px 16px;
		-webkit-transition: all .2s ease-in-out;
		-moz-transition: all .2s ease-in-out;
		-ms-transition: all .2s ease-in-out;
		-o-transition: all .2s ease-in-out;
		transition: all .2s ease-in-out;
	}
	.footer-item a.ln{
		background: #00aced;
		color: #ffffff !important;
		display: block;
		padding: 8px 16px;
		-webkit-transition: all .2s ease-in-out;
		-moz-transition: all .2s ease-in-out;
		-ms-transition: all .2s ease-in-out;
		-o-transition: all .2s ease-in-out;
		transition: all .2s ease-in-out;
	}

	.footer-item a.fb:hover{
		background: #d60808;
	}
	.footer-item a.ig:hover{
		background: #d60808;
	}
	.footer-item a.ln:hover{
		background: #d60808;
	}
	
	footer section p{
		margin-top: 20px;
	}

	.profile section{
		text-align: center;
	}
	
	.profile img {
		width: 100%;
		max-width: 200px;
		margin: auto;
		border-radius: 50%;
		border: 5px solid #888;
	}
	
	.profile table {
		width: 100%;
		padding: 0 5px 0 5px;
	}
	
	.pendidikan-container{
		display: flex;
		flex-flow: row wrap;
		width:100%;
	}
	
	.pendidikan-item{
		flex-grow:1;
		background: #414f63;
		margin-top: 10px;
		margin-right: 5px;
		width: 47%;
		box-shadow: 5px 4px 8px 5px rgba(0, 0, 0, 0.2);
		text-align: center;
		border-radius: 5px;
		padding:0;
	}
	
	.pendidikan-item h5 {
		font-size: 20px;
		color:white;
		font-weight: 400;
		margin:0;
		margin-top: 30px;
	}
	
	.pendidikan-item p {
		font-size: 15px;
		color:rgb(182, 182, 182);
		margin:0;
		margin-top: 10px;
		margin-bottom: 20px;
		text-align: justify;
		padding-left: 5px;
		padding-right: 5px;
	}
	
	.prestasi-container{
		display:flex;
		flex-direction:column;
		background: #5b45d3;
		margin-top: 10px;
		box-shadow: 5px 4px 8px 5px rgba(0, 0, 0, 0.2);
		text-align: center;
		border-radius: 5px;
		padding:0;
		width:100%;
	}
	
	.prestasi-item{
		flex-grow:1;
		display:flex;
		flex-direction: row;
		padding: 10px 0 10px 10px;
	}
	
	.prestasi-container h5 {
		font-size: 20px;
		color:white;
		font-weight: 400;
	}
	
	.prestasi-sub p {
		font-size: 18px;
		color:white;
	}
	
	.prestasi-sub {
		flex-grow:1;
		width: 100%;
		margin-right: 10px;
		box-shadow: 5px 4px 8px 5px rgba(0, 0, 0, 0.2);
		text-align: center;
		border-radius: 5px;
	}
	
	.satu {
		background: #ef5521;
	}
	
	.dua {
		background: #d3b82e;
	}
	
	.biodata-container{
		display:flex;
		flex-direction:column;
		width:100%;
	}
	
	.biodata-item{
		flex-grow:1;
		background: #3c14ac;
		margin-top: 10px;
		box-shadow: 5px 4px 8px 5px rgba(0, 0, 0, 0.2);
		text-align: center;
		border-radius: 5px;
		padding:0;
	}
	
	.biodata-item h5 {
		font-size: 18px;
		color:white;
		margin:0;
		margin-top: 10px;
		font-weight: 400;
	}
	
	.biodata-item p {
		font-size: 15px;
		margin:0;
		margin-top: 10px;
		margin-bottom: 10px;
		color:white;
	}
	
	.about-container{
		background-image:url(assets/img/wp1.jpg);
		max-height: 100%;
		padding-top: 150px;
		padding-bottom: 150px;
	}
	
	.card {
		box-shadow: 5px 4px 8px 5px rgba(0, 0, 0, 0.2);
		border-radius: 10px;
		padding: 20px;
		margin-top: 20px;
		background: #e6eaf2;
	}
	
	.card img{
		width: 100%;
		max-height: 300px;
		object-fit: cover;
		object-position: center;
	}
	
	.kepala1 {
		max-width : 60%;
		font-size: 20px;
		padding: 30px 0 30px 0;
		margin: auto;
		background: rgba(14, 8, 63, 0.6);
		border-radius: 10px;
		box-shadow: 5px 4px 8px 5px rgba(0, 0, 0, 0.2);
		text-align: center;
		color: white;
	}
	
	.atas .dropdown-mobile{
		padding-top: 10px;
		float: right;	
	}
	
	@media screen and (max-width: 600px) {
		.atas section a {
			font-size: 20px;
			font-weight: bold;
		}
	}
	
	@media screen and (max-width: 800px) {
	   #content, aside {
		   width: 100%;
		   padding: 0;
	   }
	   
	   .kepala1{
		   max-width: 100%;
	   }
	   
	   .prestasi-item{
		flex-direction:column;
		padding: 0 10px 10px 10px;
	   }
	   
	   .prestasi-sub {
		flex-grow:1;
		margin:0;
		margin-top: 10px;
		}
	   
	   .about-container{
		background-image: none;
		height: auto;
		padding: auto;

		}
	   
		.link-footer{
			flex-direction: column;
		}
		
		.atas .dropdown {
		display: none;
		}
		
		.pendidikan-item {
			width: 100%;
		}
		
		.footer-item{
			margin: 0;
			margin-top: 10px;
		}
		
		.logo a{
			float: left;
			text-align: left;
			max-width: 50%;
		}
		
		.atas section{
			width: 100%;
		}
		
		.atas .dropdown-mobile{
			padding-top: 10px;
			float:none;
		}
		
		.about-container {
			margin:0;
			padding:0;
		}
		
		.atas .dropdown-mobile a{
			float: none;
			display:block;
			width: 100%;
		}
		
		.atas .tombol {
			display: block;
			float:right;
			right:0;
			font-size: 18px;
		}
		
		.atas a{
			display: block;
			text-align: left;
		}
	}